/***********************
 * Version: 2.00 - 5/1/2018
 *
 *
 *
 * This version positions the Logo to the left and the menu items
 * in the middle of the page but left aligned. The mobile menu appears
 * to the right of the logo. When clicked, the menu will appear
 * beneath the logo in a full width bar.
 ***********************/
/*//////////////////////////////////////////////////*/
/* ~=====// navTemplate CSS //=====~ */
/* Global */
/* This will vertically center the nav items with the logo. Remove to Top Align */
#header *{
    /*HEADER TOP FONT COLOR*/
    font-family: 'Alegreya Sans SC', sans-serif;
}
@media only screen and (min-width: 1200px) {
    .darkHeader{
        background-color: rgba(0,0,0,0.5) !important;
        box-shadow: none !important;
        padding-top: 10px;
    }
    .darkHeader *{
        color: #fff !important;
        text-shadow: 2px 2px 4px #222;
    }
}
#header{
    position: fixed;
    width: 100%;
    z-index: 1001;
    height: calc(auto + 20px);
    transition: .35s all;
    top: 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 6px #444;
}
#header.small *{
  text-shadow: none;
  color: inherit;
}
#header.small{
    height: 50px;
  /*HEADER SCROLL BG COLOR*/
    background-color: #ededed;
    background-image: none;
    padding-bottom: 0px;
    box-shadow: 0px 2px 8px #333;
}

.sameheight-nav-wrap{
    height: 100%;
}
.logoContainer{
    font-weight: bold;
    height: 100%;
    position: relative;
}
.logoContainer img{
  height: 100px;
  transition: .35s all;
  padding: 5px 0;
}
#header.small .logoContainer img{
  height: 50px;
}
.menu-container{
    height: 100%;
    position: relative; 
}
.logoContainer a, .navContainer{
    position: relative;
    width: 100%;
    left: 0;
    padding-left: 10px;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
    font-size: 1.25rem;
}



.menu-main-menu-container{
    display: table;
    vertical-align: center;
}
#menu {
    display: table-cell;
    vertical-align: middle;
    float: right;
}
/*----*/
/* The parent container of all menu items */
.navContainer .navTemplate, .navContainer .navTemplate ul{
    /*position: relative;*/
    margin: 0;
    padding: 0;
    color: inherit;
    list-style: none;
}
/*----*/
/* The individual menu item container */
.navContainer .navTemplate li{
    position: relative;
    margin: 0;
    padding: 0;
    color: inherit;
    list-style: none;   
   
}
@media only screen and (min-width: 1200px) {
    .darkHeader .navContainer ul.sub-menu li{
        background: rgba(0, 0, 0, 0.5) !important;        
    }
}
.darkHeader .navContainer ul.sub-menu li{
    background: rgba(230, 230, 230, 1);        
}

.navContainer ul.sub-menu li{
    background: #fff;
    
}

.small .navContainer ul.sub-menu li{
    background: /* gradient can be an image */
    linear-gradient(
      to left, 
      #555 0%,
      #888 12%,
      #bbb 47%,
      #888 100%
    )
    left 
    bottom   
    no-repeat; 
    background-size:100% 0.7px ;
}
.navContainer .navTemplate a{
    position: relative;
    display: block;
    color: #000;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    /*background-color: blue;*/
}
/* ------ */
.navContainer .navTemplate.styleSubArrows > li > a.hasSubNav:after{
    content: "\025BE";
    display: inline-block;
    margin-left: 3px;
    line-height: 0px;
    transition: .35s all;
}
/* Animation */
/* animationNone */
.navContainer .navTemplate.styleSubArrows li:hover > a.hasSubNav:after, .navContainer .navTemplate.styleSubArrows li.active > a.hasSubNav:after{
    transform: rotate(180deg);
}
.navContainer .navTemplate.styleSubArrows li > .sub-menu a.hasSubNav:after{
    /*content: "\025B8";*/
    display: inline-block;
    margin-left: 3px;
    line-height: 0px;
    transition: .35s all;
}


/* Color of background when directly hovered over */
.navContainer .navTemplate a[href]:after{
    position: absolute;
      left: 0;
      content: '';
      height: 35px;
      width: 100%;
      border-bottom: solid 4px #dc0000;
      bottom: 0;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      transform-origin: left;
      
      -webkit-transition: -webkit-transform 250ms ease-in-out;
      transition: transform 250ms ease-in-out;
}
.navContainer .navTemplate a[href]:hover:after{
    /*font-weight: bold;*/
    -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
/* Color of top level menu item background when you hover over a top level menu item and then scroll into the dropdown menu */
.navContainer .navTemplate li:hover > a, .navContainer .navTemplate li.active > a{

}

.sub-menu{
    border-bottom: 1px solid black;
}
#header.small .navContainer .navTemplate > li > ul{
    background-image: linear-gradient(to right bottom, #dddddd, #d1d1d1, #cfcfcf, #c4c4c4, #bfbfbf);
}


.navContainer .navTemplate > li > ul > li > ul{
    transform-origin: left;
    transition: transform 0.26s ease;
    /*background-image: linear-gradient(to right bottom, #e5e5e5, #dfdfdf, #d8d8d8, #d2d2d2, #cccccc);*/
    box-shadow: inset 11px 0 13px -11px rgba(0,0,0,0.9);
}

/*//////////////////////////////////////////////////*/
/* Top level */
/* This makes sure the menu items display horizontally */
.navContainer .navTemplate > li{
    display: inline-block;
}
/*//////////////////////////////////////////////////*/
/* Drop Down: First Level */
/* This makes sure the drop down appears below the top level nav and that it is at least as wide as the top level menu item */
.navContainer .navTemplate > li > ul{
    position: absolute;
    min-width: 100%;
    /*background-color: #fff;*/
}

#header.small .navContainer .navTemplate > li > ul{
    background-color: #fff;
}
/* This makes sure the drop down items display in one line */


/*//////////////////////////////////////////////////*/
/* Level 3 */
/* The 3rd level total menu properties */
.navContainer .navTemplate > li > ul > li > ul{
    position: relative;    
    /*top: 0;*/
}
@media only screen and (min-width: 1200px) {
    /* Animation */
    /* Makes sure it appears on hover*/
    .navContainer .navTemplate > li > ul{
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.26s ease;
        
    }
    .navContainer .navTemplate > li:hover > ul, .navContainer .navTemplate > li.active > ul{
        transform: scaleY(1);
    }
    .menu-item-has-children a{
        white-space: nowrap;
    }
    .navContainer .navTemplate > li > ul > li > ul{
            margin-left: 100%;
            top: 0;
            position: absolute;
            background-color: #fff;
    }
    /* The 3rd level item container properties */
    .navContainer .navTemplate > li > ul > li > ul > li{
        white-space: nowrap;
    }
    /* The 3rd level individual menu item properties */
    .navContainer .navTemplate > li > ul > li > ul > li > a{
    }
    /* Animation */
    /* animationNone */
    .navContainer .navTemplate > li > ul > li > ul{
        transform: scaleX(0);
        
    }
    .navContainer .navTemplate > li > ul > li:hover > ul, .navContainer .navTemplate > li > ul > li.active > ul{
        transform: scaleX(1);
    }
    /*//////////////////////////////////////////////////*/
    /* Menu Control */
    .navContainer .navTemplateControl{
        display: none;
    }
    #header.small .sub-menu{
        top: 50px;
    }
}
/*//////////////////////////////////////////////////*/
/* ~=== Mobile ===~ */
@media only screen and (max-width: 1199px) {
    /*//////////////////////////////////////////////////*/
    /* Menu Control */

    .sub-menu{
        display: none !important;
    }
    li.menu-item-has-children.active .sub-menu{
        display: block !important;        
    }
    li.menu-item-has-children.active:before {
        transform: rotate(180deg);
    }
    li.menu-item-has-children:before{
        content: " ▼";
        position: absolute;
        left: 20px;
        top: 10px;
        width: 8px;
        height: 8px;
        transform: scale(.8);
        transition: .35s all;
        transform-origin: 150% 200%;
    }
    
    .navContainer .navTemplateControl{
        display: block;
        cursor: pointer;
    }
    #menu-main-menu{
        background-image: linear-gradient(to right bottom, #ffffff, #f8f8f8, #f2f2f2, #ebebeb, #e5e5e5);
    }
    .navContainer.active .navTemplateControl{
        
    }
    .navContainer .navTemplateControl:hover{
        
    }
    .navContainer .navTemplateControl:after{
        content: " ";
        clear: both;
        display: table;
    }
    .navContainer .navTemplateControl .menuText{
        color: #ffffff;
        font-size: 1.5em;
        line-height: 30px;
        padding: 10px;
        float: left
    }
    .navContainer .navTemplateControl .menuButton{
        height: 50px;
        width: 50px;
        position: relative;
        float: right;
    }
    .navContainer .navTemplateControl .menuButton div{
        display: block;
        position: absolute;
        background-color: #ffffff;
        float: right;
        left: 50%;
        top: 50%;
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    /* edit this to style the three lines in the mobile menu equally */
    .navContainer .navTemplateControl .menuButton .line1, .navContainer .navTemplateControl .menuButton .line2, .navContainer .navTemplateControl .menuButton .line3 {
        width: 30px;
        height: 2px;
        transition: all .25s;
        background-color: #000;
    }
    .navContainer .navTemplateControl .menuButton .line1{
        margin-top: -12px;
    }
    .navContainer .navTemplateControl .menuButton .line2{
        
    }
    .navContainer .navTemplateControl .menuButton .line3{
        margin-top: 12px;
    }
    .navContainer.active .navTemplateControl .menuButton .line1{
        width: 30px;
        height: 2px;
        margin-top: 0px;
        -moz-transform: translate(-50%,-50%) rotate(45deg);
        -ms-transform: translate(-50%,-50%) rotate(45deg);
        -webkit-transform: translate(-50%,-50%) rotate(45deg);
        transform: translate(-50%,-50%) rotate(45deg);
    }
    .navContainer.active .navTemplateControl .menuButton .line2{
        width: 0px;
        height: 2px;
    }
    .navContainer.active .navTemplateControl .menuButton .line3{
        width: 30px;
        height: 2px;
        margin-top: 0px;
        -moz-transform: translate(-50%,-50%) rotate(-45deg);
        -ms-transform: translate(-50%,-50%) rotate(-45deg);
        -webkit-transform: translate(-50%,-50%) rotate(-45deg);
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    /*//////////////////////////////////////////////////*/
    /* Global */
    /* Animation */
    /* animationNone */
    .navContainer .navTemplate.styleSubArrows li:hover > a.hasSubNav:after{
        transform: rotate(0deg);
    }
    .navContainer .navTemplate.styleSubArrows li.active > a.hasSubNav:after{
        transform: rotate(90deg);
    }
    /*//////////////////////////////////////////////////*/
    /* Level 1 */
    .navContainer .navTemplate{
        position: absolute;
        width: 200px;
        right: -100vw;
        top: 100%;
        transition: .75s all;
        height: calc(100vh - 50px);
        padding-bottom: 10vh;
        box-shadow: -15px 0 15px -15px #333;
        background: #fff;
        color: #000;
    }
    .navContainer.active .navTemplate{
        right: 0;
    }
    /*.navContainer .navTemplate > li{
        display: none;
    }*/
    .navContainer .navTemplate > li{
        display: block;
    }

    .navContainer .navTemplate > li > a{
    }
    /*//////////////////////////////////////////////////*/
    /* Level 2 */
    .navContainer .navTemplate > li > ul{
        position: relative;
    }
    .navContainer .navTemplate > li > ul > li{
        display: block;
    }
    .navContainer .navTemplate > li > ul > li > a{
        padding-left: 40px;
    }
    /* Animation */
    /* animationNone */
    .navContainer .navTemplate > li > ul, .navContainer .navTemplate.animationNone > li > ul{
        display: block;
    }
    .navContainer .navTemplate > li:hover > ul, .navContainer .navTemplate.animationNone > li:hover > ul{
        display: block;
    }
    .navContainer .navTemplate > li.active > ul, .navContainer .navTemplate.animationNone > li.active > ul{
        display: block;
    }
    /*//////////////////////////////////////////////////*/
    /* Level 3 */
    .navContainer .navTemplate > li > ul > li > ul{
        position: relative;
    }
    /**/
    .navContainer .navTemplate > li > ul > li > ul > li{
        display: block;
    }
    .navContainer .navTemplate > li > ul > li > ul > li > a{
        padding-left: 60px;
    }
    /* Animation */
    /* animationNone */
    .navContainer .navTemplate > li > ul > li > ul, .navContainer .navTemplate.animationNone > li > ul > li > ul{
        display: none;
    }
    .navContainer .navTemplate > li > ul > li:hover > ul, .navContainer .navTemplate.animationNone > li > ul > li:hover > ul{
        display: none;
    }
    .navContainer .navTemplate > li > ul > li.active > ul, .navContainer .navTemplate.animationNone > li > ul > li.active > ul{
        display: block;
    }
    /*//////////////////////////////////////////////////*/
}
/* End Mobile Media Query */

main{
    padding-top: 75px;
}

.text-right{
    text-align: right;
}